
Label{
    -fx-border-color:black;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-min-height: 50;
    -fx-min-width: 50;
    -fx-alignment: center;
    }

Label.points {
    -fx-min-width:50;
    -fx-min-height:25;
    -fx-border-width:1;
    -fx-border-color:green;
}

Label.bottomClickable {
    -fx-min-width:50;
    -fx-min-height:50;
    -fx-border-width:1;
    -fx-border-color:pink;
}